div#map

ul#legend
  li.first 
    b
    div Less than 10% smokers
  li.second
    b
    div 10% to 15%
  li.third
    b
    div 15% to 20%
  li.fourth
    b
    div 20% to 25%
  li.fifth
    b
    div More than 25%

div.clear
